{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-react-native"],
  "rules": {
    "react-native/css-property-no-unknown": true
  }
}