{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components", 
    "stylelint-config-prettier"
  ],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "plugins": ["stylelint-react-native"],
  "rules": {
    "react-native/css-property-no-unknown": true,
    "react-native/font-weight-no-ignored-values": true,
    "no-empty-first-line": null
  }
}