{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "customSyntax": "postcss-styled",
  "plugins": ["stylelint-react-native"],
  "rules": {
    "react-native/css-property-no-unknown": true,
    "react-native/font-weight-no-ignored-values": true,
    "no-empty-first-line": false
  }
}